{% extends 'base.html' %}

{% block title %}
  米国銘柄一覧
{% endblock %}

{% block content %}
  <h1>米国銘柄一覧</h1>
  <table class="table">
    <thead>
      <tr>
        <td>ティッカー</td>
        <td>銘柄名</td>
        <td>市場</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for usstock in usstock_list %}
        <td>{{ usstock.ticker }}</td>
        <td>{{ usstock.stockname }}</td>
        <td>{{ usstock.market }}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
{% endblock %}
